<% include admin-header.html%>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                面板
                <small>控制 标签</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
                <li class="active">面板</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <p>主内容</p>
        </section>
    </div>

    <!--控制台背景-->
    <div class="control-sidebar-bg"></div>

<% include admin-footer.html%>

</body>
</html>