<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
					<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
					<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
				</ul>
				<ul class="copyright">
					<li>&copy; Untitled</li><li>More Learn <a href="https://github.com/BIGBANGTAEYANG" target="_blank" title="More">GitHub</a> - Collect from <a href="#" title="templates" target="_blank">Tamplates</a></li>
				</ul>
			</footer>
		
		<script src="/javascripts/js/jquery.poptrox.min.js"></script>
		<script src="/javascripts/js/skel.min.js"></script>
		<script src="/javascripts/js/init.js"></script>
