<% include admin-header.html%>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        邮件管理
        <small>I-Blog</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
        <li><a href="#">邮件管理</a></li>
        <li class="active">回复邮件</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

    </section>
  </div>



  
  <div class="control-sidebar-bg"></div>
  <% include admin-footer.html%>

  
</body>
</html>

